{% extends "appdocs101/base.html" %}
{% block content %}
<h1> Add Documentation </h1>
<form action = "/appdocs101/add_doc/" method = "post">
{% csrf_token %}
<table>
{{ form.as_table }}
<tr>
<td> <a href = "#"> Add author </a> </td>
</tr>
</table>

<textarea class = "content" name = "content" > </textarea>

 <input type = "submit" name = "submit" value = "Submit"> 


</form>








{% endblock %}








