{% url 'add_comment' doc_id=doc.id as the_url %}
<form action = "{{ the_url }}" method = "post">
{% csrf_token %} 
<table>
{{ form.as_table }}
<tr>
<td>  <input type = "submit" name = "submit" value = "Submit">  </td>
</tr>
</table>

</form>


