{% extends "appdocs101/base.html" %}
{% block content %}
<h1> Add Documentation </h1>
<form action = "/appdocs101/add_doc2/" method = "post" onsubmit = "getContent()">
{% csrf_token %}
<table> 
{{ form.as_table }}
<tr>
<td> <a href = "#"> Add author </a> </td>
</tr>
</table>


	<input type = "button" value = "Add 1 column" onclick = "add_columns(1)">
	<input type = "button" value = "Add 2 columns" onclick = "add_columns(2)">
	<input type = "button" value = "Add 3 columns" onclick = "add_columns(3)">
	<input type = "button" value = "Add 4 columns" onclick = "add_columns(4)"> <br><br>


<div class="row-fluid">
	<div class="span2">
  	</div>

	<div class="span8">
	<div id = "span">




	</div>
	</div>
 
 
 

  	<div class="span2">
  	</div>


</div>


 <input type = "hidden" name = "editor_content" id = "editor_content" value = ""> 
 <input type = "submit" name = "submit" value = "Submit"> 


</form>



{% endblock %}








