<html lang = "EN">
<meta charset = "utf-8">
<title> {{ title }} </title>
<head>

<style type="text/css">
textarea.content {
	height: 500px;
	}

</style>


{% load staticfiles %}

    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'docs.css' %}" rel="stylesheet">





              <!-- load the jQuery and require.js libraries -->
              <script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/require.js"></script>
              <script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/vendor/jquery-1.7.2.js"></script>
 
              <!-- load the Aloha Editor core and some plugins -->
              <script src="http://cdn.aloha-editor.org/latest/lib/aloha.js"
                                   data-aloha-plugins="common/ui,
                                                        common/format,
                                                        common/list,
                                                        common/link,
                                                        common/highlighteditables,
common/align,
common/characterpicker,
common/image,
common/table,
common/undo,
extra/toc">

              </script>
               
              <!-- load the Aloha Editor CSS styles -->
              <!-- <link href="http://cdn.aloha-editor.org/latest/css/aloha.css" rel="stylesheet" type="text/css" /> -->
 
              <!-- make all elements with class="editable" editable with Aloha Editor -->
              <script type="text/javascript">
                     Aloha.ready( function() {
                            var $ = Aloha.jQuery;
                            //$('.editable').aloha();
			    $('.editable').mahalo();
                     });
              </script>


</head>
<body>


<div class="container-fluid">

{% if messages %}
    {% for message in messages %}
	{{ message }}
    {% endfor %}
{% endif %}
<br>

{% if 'user' in request.session %}
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner"  >
    <ul class="nav">
    <li> <a href = "{% url 'appdocs101:add_doc' %}"> Add Documentation </a> </li> 
    <li> <a href = "{% url 'appdocs101:add_wishlist' %}"> Add Wishlist </a> </li> 
    <li> <a href = "{% url 'appdocs101:docs' %}"> View Documentations </a> </li> 
    <li> <a href = "{% url 'appdocs101:wishlists' %}"> View Wishlist </a> </li> 
    <li> <a href = "{% url 'appdocs101:contributions' %}"> My Contributions </a> </li> 
    <li> <a href = "{% url 'appdocs101:pending_docs1' %}"> Documentations in Progress </a> </li> 
    <li> <a href = "{% url 'appdocs101:review_docs1' %}"> Documentations Under Review </a> </li> 
    <li> <a href = "{% url 'appdocs101:logout' %}"> Logout </a>
{% else %}
    <li> <a href = "{% url 'appdocs101:signin' %}"> Signin </a> </li> 
    <li> <a href = "{% url 'appdocs101:register' %}"> Register </a> </li> 
{% endif %}
    </ul>
</div>
</div>

<!-- container-fluid  -->
</div> 

{% block content %}
{% endblock %}



</body>
</html>
