<html lang = "EN">
<meta charset = "utf-8">
<title> {{ title }} </title>
<head>

<style type="text/css">
textarea.content {
	height: 500px;
	}

</style>

<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script>
        tinymce.init({selector:'textarea.content',
plugins: "image",
    image_list: [ 
        {title: 'My image 1', value: 'http://www.tinymce.com/my1.gif'}, 
        {title: 'My image 2', value: 'http://www.moxiecode.com/my2.gif'} 
    ],




});



</script>

{% load staticfiles %}

    <link href="{% static 'twitter-bootstrap-d991ef2/docs/assets/css/bootstrap-responsive.css' %}" rel="stylesheet">

    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">

    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">




              <!-- load the jQuery and require.js libraries -->
              <script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/require.js"></script>
              <script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/vendor/jquery-1.7.2.js"></script>
 
              <!-- load the Aloha Editor core and some plugins -->
              <script src="http://cdn.aloha-editor.org/latest/lib/aloha.js"
                                   data-aloha-plugins="common/ui,
                                                        common/format,
                                                        common/list,
                                                        common/link,
                                                        common/highlighteditables,
common/align,
common/characterpicker,
common/image,
common/table,
common/undo,
extra/toc">

              </script>
               
              <!-- load the Aloha Editor CSS styles -->
              <link href="http://cdn.aloha-editor.org/latest/css/aloha.css" rel="stylesheet" type="text/css" />
 
              <!-- make all elements with class="editable" editable with Aloha Editor -->
              <script type="text/javascript">
                     Aloha.ready( function() {
                            var $ = Aloha.jQuery;
                            $('.editable').aloha();
                     });
              </script>

<script type = "text/javascript">
function getContent()
    {
	var editor_content = document.getElementById("editor_content");
	editor_content.value = document.getElementById("span").innerHTML;
    }
</script>

<script type = "text/javascript">
function add_columns(num_columns)
    {
	var span = document.getElementById("span");
        console.log(span, 1);
	if (num_columns === 1)
	    {
	    var row = document.createElement("div");
	    row.innerHTML = "<div class = 'row-fluid'> <div class = 'editable'> a </div> </div><br>";
	    span.appendChild(row);

	    }
	else if (num_columns === 2)
	    {
	    var row = document.createElement("div");
	    row.innerHTML = '<div class="row-fluid">' +
  		'<div class="span6"> ' +
                	'<div class="editable">' +
                	'</div>' +
  		'</div>' +

  		'<div class="span6">' +
                	'<div class="editable">' +
              		'</div>' +
  		'</div>' +


  	'</div><br>';
 

	    span.appendChild(row);

	    }

	else if (num_columns === 3)
	    {
	    var row = document.createElement("div");
	    row.innerHTML = 	'<div class="row-fluid">' +
  		'<div class="span4"> ' +
                	'<div class="editable">' +
                	'</div>' +
  		'</div>' +

  		'<div class="span4">' +
                	'<div class="editable">' +
              		'</div>' +
  		'</div>' +
 

  		'<div class="span4">' +
                	'<div class="editable">' +
              		'</div>' +
  		'</div>' +
 
  	'</div><br>' 

	    span.appendChild(row);

	    }
	else if (num_columns === 4)
	    {
	    var row = document.createElement("div");
	    row.innerHTML = '<div class="row-fluid">' +
  		'<div class="span3">' +
                	'<div class="editable">' +
                	'</div>' +
  		'</div>' +

  		'<div class="span3">' +
                	'<div class="editable">' +
              		'</div>' +
  		'</div>' +
 

  		'<div class="span3">' +
                	'<div class="editable">' +
              		'</div>' +
  		'</div>' +
 

  		'<div class="span3">' +
                	'<div class="editable">' +
              		'</div>' +
  		'</div>' +

  	'</div><br>';

	    span.appendChild(row);

	    }





                     Aloha.ready( function() {
                            var $ = Aloha.jQuery;
                            $('.editable').aloha();
                     });
    }
</script>



</head>
<body>

<div class="container-fluid">

{% if messages %}
    {% for message in messages %}
	{{ message }}
    {% endfor %}
{% endif %}
<br>


{% if 'user' in request.session %}
    <b> Welcome {{ request.session.user.username }} </b>
    <br>
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
    <li> <a href = "{% url 'appdocs101:add_doc' %}"> Add Documentation </a> </li> 
    <li> <a href = "{% url 'appdocs101:add_wishlist' %}"> Add Wishlist </a> </li> 
    <li> <a href = "{% url 'appdocs101:docs' %}"> View Documentations </a> </li> 
    <li> <a href = "{% url 'appdocs101:wishlists' %}"> View Wishlist </a> </li> 
    <li> <a href = "{% url 'appdocs101:contributions' %}"> My Contributions </a> </li> 
    <li> <a href = "{% url 'appdocs101:pending_docs1' %}"> Documentations in Progress </a> </li> 
    <li> <a href = "{% url 'appdocs101:review_docs1' %}"> Documentations Under Review </a> </li> 
    <li> <a href = "{% url 'appdocs101:logout' %}"> Logout </a>
{% else %}
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
    <li> <a href = "{% url 'appdocs101:signin' %}"> Signin </a> </li> 
    <li> <a href = "{% url 'appdocs101:register' %}"> Register </a> </li> 
{% endif %}
    </ul>
</div>
</div>

{% block content %}
{% endblock %}

<!-- container-fluid  -->
</div> 

</body>
</html>
