{% extends "appdocs101/base.html" %}
{% block content %}
{% load staticfiles %}
<h1> My Contributions </h1>
<b> Documentations </b> <br>
{% if docs|length == 0 %}
    You didn't work on any documentations! <br>
{% else %}
    {% for doc in docs %}
	<a href = "{% url 'appdocs101:doc' doc_id=doc.id %}"> {{ doc.title }} </a> 
	{% if doc.status == 1 %}
	    <a href = "#" title = "published"> <img src = "{% static 'glyphicons_free/glyphicons/png/glyphicons_206_ok_2.png'  %}" alt = 			"doc published" width = "10" height = "10" /> </a> <br>
	{% endif %}
	<hr>
    {% endfor %}
{% endif %}

<b> Wishlists </b> <br>
{% if wishlists|length == 0 %}
    You didn't add any wishlist! <br>
{% else %}
    {% for wishlist in wishlists %}
	<a href = "{% url 'appdocs101:wishlist' wishlist_id=wishlist.id %}"> {{ wishlist.title }} </a> 
	{% if wishlist.status == 0 %}
	    <a href = "#" title = "wishlist pending"> <img src = "{% static 'red_circle1.jpeg'  %}" alt = "wishlist pending" width = "15" height = "15" /> </a> <br>
	{% elif wishlist.status == 1 %}
	    <a href = "#" title = "wishlist accepted"> <img src = "{% static 'yellow_circle1.jpeg'  %}" alt = "wishlist accepted" width = "15" height = "15" /> </a> <br>
	{% elif wishlist.status == 2 %}
	    <a href = "#" title = "wishlist granted"> <img src = "{% static 'green_circle.jpeg'  %}" alt = "wishlist granted" width = "15" height = "15" /> </a> <br>
	{% endif %}

	<hr>
    {% endfor %}
{% endif %}

{% endblock %} 


