{% extends "appdocs101/base.html" %}
{% block content %}


<div class="row-fluid">
  <div class="span9">


<h1> {{ doc.title }} </h1> 
{% load staticfiles %}
<a href = "{% url 'appdocs101:edit_doc2' doc_id=doc.id %}" title = "edit"> <img src = "{% static 'glyphicons_free/glyphicons/png/glyphicons_030_pencil.png'  %}" alt = "Isatou" width = "20" height = "20" /> </a> <br>

By: {{ user.username }} {{ user.first_name }} {{ user.last_name }} <br>

Software : {{ doc.software }} <br>
Version : {{ doc.version }} <br>
Operating System : {{ doc.operating_system }} <br>
<br>
{% autoescape off %} {{ doc.content }}{% endautoescape %} <br> <br>


  <!-- span9 -->
  </div> 
  <div class="span3">
<input type = "button" value = "Submit a relevant resource" />
<br> <br>
<b> Relevant Resources </b> <br>
<a href = "#"> How to use the AppDocs Word Editor </a> <br>
<a href = "#"> Adding other authors </a> <br> 

{% if revisions|length > 0 %}
    <b> Revisions </b> <br>
    {% for revision in revisions %}
        <a href = "{% url 'appdocs101:revision' revision_id=revision.id %}" title = "revision"> {{ revision.description }} </a> <br>
    {% endfor %}
{% endif %}
  <!-- span3 -->
  </div> 



<!-- row-fluid -->
</div> 


    
{% endblock %} 
