{% extends "appdocs101/base2.html" %}
{% block content %}



<div class="jumbotron masthead">
  <div class="container-fluid">



<h1>  {{ doc.title }}</h1> 
{% load staticfiles %}
<a href = "{% url 'appdocs101:edit_doc2' doc_id=doc.id %}" title = "edit"> <img src = "{% static 'glyphicons_free/glyphicons/png/glyphicons_030_pencil.png'  %}" alt = "Isatou" width = "20" height = "20" /> </a> <br>

<p>

By: {{ user.username }} {{ user.first_name }} {{ user.last_name }} <br>
Software: {{ doc.software }} |
Version: {{ doc.version }} | 
Operating System: {{ doc.operating_system }} 
</p>

<p align = "left" class = "masthead2">
<br>
This guide, the second in a two part series, was adapted from a slideshow by Christian Heilmann, a Web Evangelist at Mozilla. Like the first guide, it illustrates JavaScript best practices with examples to help you write more maintainable and efficient code. With JavaScript being used for a greater portion of software development, it's now only more important that our code be clean and readable.

</p>


</div>
</div>

<div class="container-fluid">

<div class="row-fluid">

  <div class="span2" style = "border-left: #eeeeee solid 1px; border-right: #eeeeee solid 1px; border-top: #eeeeee solid 1px; background:#fafafa;">
	
<b> Sections </b> <hr>
<a href = "#" > Section1  </a> <hr>
<a href = "#"> Section2  </a> <hr>
<a href = "#"> Section3  </a> <hr>
  </div>
  <!-- span2 -->

  <div class="span8" style = "border: #eeeeee solid 1px;">


{% autoescape off %} {{ doc.content }}{% endautoescape %} 


<hr>
<h4 align = "center"> Recommended Resources </h4> 
<b> How to use the AppDocs Word Editor </b> <br>
This resource will teach you how to use the AppDocs101 editor through a series of different examples <br>
<a href = "#"> View Resource </a> <hr>
<b> Adding other authors  </b> <br> 
You can collaborate with other authors to create tutorials or introductions on any topic. <br>
<a href = "#"> View Resource </a> 




  <!-- span8 -->
  </div> 

  <div class="span2" style = "border-left: #eeeeee solid 1px; border-right: #eeeeee solid 1px; border-top: #eeeeee solid 1px; background:#fafafa;">
<b> Recommended Resources </b> <hr>
<a href = "#"> How to use the AppDocs Word Editor </a> <hr>
<a href = "#"> Adding other authors </a> <hr>


{% if revisions|length > 0 %}
    <b> Revisions </b> <br>
    {% for revision in revisions %}
        <a href = "{% url 'appdocs101:revision' revision_id=revision.id %}" title = "revision"> {{ revision.description }} </a> <br>
    {% endfor %}
{% endif %}
  <!-- span2 -->
  </div> 



<!-- row-fluid -->
</div> 

<!-- container-fluid  -->
</div>

{% load staticfiles %}


<div style = "background:#566D7E;" align = "center">
<h3> About the authors </h3>

<a href = "#"> <img src = "{% static 'me.jpg'  %}" alt = "Isatou" width = "80" height = "50" title = "Isatou Sanneh"/> </a>
<a href = "#"> <img src = "{% static 'jarai.jpg'  %}" alt = "Jarai" width = "80" height = "50" title = "Jarai Sanneh"/> </a> 
<a href = "#"> <img src = "{% static 'mummy.jpg'  %}" alt = "Mummy" width = "80" height = "50" title = "Ramatoulie Chorr-Sanneh"/> </a> 
<a href = "#"> <img src = "{% static 'adam.jpg'  %}" alt = "Adam" width = "80" height = "50" title = "Adam Joof-Tamba"/> </a> 
<hr>

<b> Isatou Sanneh </b> <br>


Isatou created this site so that people who are learning a new programming language, software application, topic/concept and so forth can get a quick overview of the subject matter and have access to resources that will aid them in their learning process.

She believes that knowlege is meant to be shared, and she hopes that others will join her and contribute to Appddocs101 by sharing their knowlege with others.


</div>
     
{% endblock %} 
