{% extends "appdocs101/base.html" %}
{% block content %}

<div class="container-fluid">
<div class="row-fluid">
  <div class="span9">


<h1> {{ doc.title }} </h1>
By: {{ user.username }} {{ user.first_name }} {{ user.last_name }} <br>

Software : {{ doc.software }} <br>
Version : {{ doc.version }} <br>
Operating System : {{ doc.operating_system }} <br>
<br>
{% autoescape off %} {{ doc.content }}{% endautoescape %} <br> <br>

<b> Was this useful? </b> <br>
<a href = "#"> Yes </a> <a href = "#"> No </a> <br>  <br>
95% found this useful! <br>

<input type = "button" value = "Leave a comment" />
<br> <br>
Leave a comment: <br>
<textarea cols = "100" rows = "10"> </textarea>



{% url 'add_comment' doc_id=doc.id as the_url2 %}

{{ the_url2 }}

{% include "appdocs101/add_comment.html" %}

{% autoescape off %} {{ com }} {% endautoescape %}


  <!-- span9 -->
  </div> 
  <div class="span3">
  <!-- span3 -->
<input type = "button" value = "Submit a relevant resource" />
<br> <br>
<b> Relevant Resources </b> <br>
<a href = "#"> How to use the AppDocs Word Editor </a> <br>
<a href = "#"> Adding other authors </a> <br>
  </div> 

<!-- row-fluid -->
</div> 
<!-- container-fluid  -->
</div> 

    
{% endblock %} 
