{% extends "appdocs101/base.html" %}
{% block content %}
<h1> Documentation </h1>
{% if docs|length == 0 %}
    No documentation has been added! <br>
{% else %}
    {% for doc in docs %}
	<a href = "{% url 'appdocs101:doc' doc_id=doc.id %}"> {{ doc.title }} </a> <hr>
    {% endfor %}
{% endif %}
{% endblock %} 


