{% extends "appdocs101/base.html" %}
{% block content %}
<h1> Documentation in Progress </h1>
{% if docs|length == 0 %}
    No documentation has been added! <br>
{% else %}
    {% for doc in docs %}
	<a href = "{% url 'appdocs101:doc' doc_id=doc.id %}"> {{ doc.title }} </a> 
	{% if doc.collaborators_needed == True %}
	    (collaborators wanted)
	{% endif %}
        <hr>
    {% endfor %}
{% endif %}
{% endblock %} 


