{% extends "appdocs101/base.html" %}
{% block content %}
<h1> Register </h1>
<form action = "/appdocs101/register/" method = "post" >
{% csrf_token %}
<table>
{{ form.as_table }}
<tr>
<td> <input type = "submit" name = "submit" value = "Submit">  </td>
</tr>
</table>
</form>
{% endblock %}
