{% extends "appdocs101/base.html" %}
{% block content %}

<div class="container-fluid">
<div class="row-fluid">
  <div class="span9">

<b> Description: {{ revision.description }}

<a href = "{% url 'appdocs101:restore' revision_id=revision.id %}"> Restore this version </a> <hr>

<h1> {{ revision.title }} </h1> 


By: {{ user.username }} {{ user.first_name }} {{ user.last_name }} <br>

Software : {{ revision.software }} <br>
Version : {{ revision.version }} <br>
Operating System : {{ revision.operating_system }} <br>
<br>
{% autoescape off %} {{ revision.content }}{% endautoescape %} <br> <br>


  <!-- span9 -->
  </div> 
  <div class="span3">
  <!-- span3 -->
<input type = "button" value = "Submit a relevant resource" />
<br> <br>
<b> Relevant Resources </b> <br>
<a href = "#"> How to use the Apprevisions Word Editor </a> <br>
<a href = "#"> Adding other authors </a> <br> 


<!-- row-fluid -->
</div> 
<!-- container-fluid  -->
</div> 

    
{% endblock %} 
