{% extends "appdocs101/base.html" %}
{% block content %}
<h1> Wishlist </h1>
{% if wishlists|length == 0 %}
    No wishlist has been added! <br>
{% else %}
    {% for wishlist in wishlists %}
	<a href = "{% url 'appdocs101:wishlist' wishlist_id=wishlist.id %}"> {{ wishlist.title }} </a> <hr>
    {% endfor %}
{% endif %}
    
{% endblock %} 
