{% extends "appdocs101/base.html" %}
{% block content %}
<h1> {{ wishlist.title }} </h1>
Added_by : {{ user.username }} {{ user.first_name }} {{ user.last_name }} <br>
Software : {{ wishlist.software }} <br>
Version : {{ wishlist.version }} <br>
Operating System : {{ wishlist.operating_system }} <br>
<br>
{{ wishlist.content }} <br>

<form method = "post" action = "/appdocs101/accept_wishlist/">
{% csrf_token %}
<input type = "hidden" value = "{{ wishlist.id }}" name = "wishlist_id"  />
<input type = "submit" value = "Accept Request" />
</form>
    
{% endblock %} 
